<div class="container">
	<div class="row">
		<div class="col-md-6">

			<div id="custom-search-input" class="clearfix">
                <div class="col-md-12">
                	<form action="/quizes" method="get" role="form">
                    <input type="text" name="search" class="form-control input-md" placeholder="Buscar pregunta" />
                        <button class="btn btn-info btn-md" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </form>
                </div>
            </div>
			
			<h2>Lista de Preguntas</h2>
			<ul class="list-group">
				<% var i; for (i=0; i < quizes.length; i++) { %>
					<a href="quizes/<%= quizes[i].id %>" class="list-group-item">
						<span class="glyphicon glyphicon-question-sign"></span>
						<%= quizes[i].pregunta %> (<%= quizes[i].tema %>)
					</a>
					<a href="quizes/<%= quizes[i].id %>/edit" class="btn btn-xs btn-info but-editar" role="button">Editar</a>
					<form method="post" class="but-borrar" action="quizes/<%= quizes[i].id %>?_method=delete">
						<button class="btn btn-xs btn-warning" type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
					</form>
				<% } %>
			</ul>

			<a href="/quizes/new" class="btn btn-primary" role="button">Crear pregunta</a>
		</div>
	</div>
</div>